body,
html,
#root {
  margin: 0;
  padding: 0;
  height: 100%;
  background-color: white;
  font-family: sans-serif;
}

.value-up {
  color: green;
}

.value-down {
  color: red;
}

.big-headers {
  font-size: 1.2em;
}

.small-headers {
  font-size: 0.8em;
}
.flex-column {
  display: flex;
  flex-direction: column;
}

button {
  border-radius: 5px;
  border: 1px solid #0006;
  cursor: pointer;
  box-shadow: -2px -2px 2px #0002 inset;

  transition: 0.2s;
}

button:hover:not(:disabled) {
  filter: brightness(0.9);
  box-shadow: 2px 2px 2px #0002 inset;
}

button:active:not(:disabled) {
  transition: none;
  filter: brightness(1.1);
}

button:disabled {
  filter: brightness(0.1) contrast(0.2);
  cursor: default;
}

.bold {
  font-weight: bold;
}
