body,
html,
#root {
  margin: 0;
  padding: 0;
  height: 100%;
  background-color: white;
  font-family: sans-serif;
}

.value-up {
  color: green;
}

.value-down {
  color: red;
}

.big-headers {
  font-size: 1.2em;
}

.small-headers {
  font-size: 0.8em;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.centered-column {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

button {
  border-radius: 5px;
  border: 1px solid #0006;
  cursor: pointer;
  box-shadow: -2px -2px 2px #0002 inset;

  transition: 0.2s;
}

button:hover:not(:disabled) {
  filter: brightness(0.9);
  box-shadow: 2px 2px 2px #0002 inset;
}

button:active:not(:disabled) {
  transition: none;
  filter: brightness(1.1);
}

button:disabled {
  filter: brightness(0.1) contrast(0.2);
  cursor: default;
}

.bold {
  font-weight: bold;
}

table.small-table {
  border-collapse: collapse;
}

table.small-table td,
table.small-table tr {
  border: 1px solid white;
}

table.small-table.side-headers th {
  text-align: left;
  padding: 5px;
}

table.small-table.side-headers td {
  text-align: right;
  padding: 5px;
}

table.small-table.top-headers th,
table.small-table.top-headers td  {
  text-align: left;
  padding: 5px;
}

table.small-table thead tr:nth-child(odd) {
  background-color: #0002;
}

table.small-table tbody tr:nth-child(odd) td {
  border: 1px solid #0005;
}

table.small-table.no-headers tbody tr:nth-child(odd) {
  background-color: #0002;
}

table.small-table.no-headers tbody tr:nth-child(even) td {
  border: 1px solid #0005;
}
