.watermark {
  position: absolute;
  bottom: 0px;
  left: 0px;
  padding: 5px;
  font-size: 1em;
  color: #0008;
  font-family: monospace;
  background: #eee;
  opacity: 0.6;
  border-radius: 4px;
}

.watermark .title {
  font-weight: bold;
}

.watermark .logo {
  opacity: 1;
}
